.bg-half-moon-gradient-red {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 700px;
    background-image: url("../public/landing/half-moon-gradient-red.png");
    background-size: cover;
    background-position: center;
}
.bg-half-moon-gradient-blue {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 700px;
    background-image: url("../public/landing/half-moon-gradient-blue.png");
    background-size: cover;
    background-position: center;
}
